*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lora', cursive;
}

/*Estilos Prontos*/
.container{max-width: 1920px;margin: 0 auto;padding: 0 5%;}
.clear{clear: both;}
.w50{width: 50%; float: left;}
.w33{width: 33.3%; float: left;}
.w100{width: 100%; position: center;}
.center{text-align: center;}
/*Fim dos estilos prontos*/
/*Do início de Index.html*/
header{
	position: absolute;
	padding: 10px 0 10px 0;
	width: 100%;
	z-index: 1000;
}
.logo{
	filter: invert(90%);
	position: relative;
}
nav.menu li.selected{text-decoration: underline;}
nav.menu{
	position: relative;
	font-size: 22px;
	top: 100px;
	color: white;
	float: right;
}
nav.menu ul{
	position: relative;
	left: 25px;
	color: white;
}
nav.menu li{
	padding:0 10px;
	display: inline-block;
}
nav.menu a{
	color: white;
	text-decoration: none;
}
nav.menu a:hover{text-decoration: underline;}
/*Fim do Header*/
.banner{
	width: 100%;
	min-height: 1000px;
	padding: 50px 0 250px 0;
	background: url(banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}
.netof{
	color: #f5f5f5;
	top: 500px;
	position: relative;
	text-align: center;
	font-weight: normal;
	font-size: 100px;
	font-style: italic;
	box-shadow: 10px 5px 5px #F2D194;
}
/*Fim do Banner*/
.sobre_s{
	margin-top: 50px;
}
.sobre_s h2{
	text-align: center;
	font-size: 35px;
	padding-bottom: 10px;
}
.sobre_s p{
	text-align: justify;
	font-size: 17px;
}
.sobre_s > fonte{
	font-size: 16px;
}
.sobre_s fonte > a:hover{
	font-size: 17px;
	transition: 1.5s;
}
.imgs{margin-top: 50px;}
.imgs > img{
	height: 400px;
	padding-left: 25px;
	box-shadow: 10px 5px 5px #023E73;
	transition-delay: 1s;
	transition: 2s;
}
.imgs > img:hover{
	height: 420px;
	box-shadow: 10px 5px 5px #F28066;
	transform: rotate(360deg);
}
/*Fim da matéria*/
.autor{color: #F2D6B3;}
.autor h2{
	font-size: 40px;
	padding-bottom: 3px;
	font-weight: normal;
}
.autor h3{
	font-size: 30px;
	padding-bottom: 3px;
	font-weight: normal;
	margin-bottom: 50px;
	font-style: italic;
}
.autor h5{
	font-size: 25px;
	padding-bottom: 3px;
	font-weight: normal;
	margin-bottom: 10px;
	font-style: italic;
	text-decoration: underline;
}
.autor img{
	height: 500px;
	box-shadow: 10px 5px 5px #265573;
	margin-bottom: 50px;
}
.autor ul{
	list-style-type: none;
}
.autor li{
	line-height: 3.5em;
	font-size: 20px;
}
.autor a{
	text-decoration: none;
	color: #F28066;
	font-size: 20px;
	transition-duration: 2s;
	transition-delay: 0.6s;
}
.autor button{
	background-color: #f5f5f5;
	border-radius: 15px;
	border: 2px inset #265573;
	padding: 5px;
	width: 150px;
	transition-duration: 1.5s;
	transition-delay: 0.3s;
}
.autor button:hover{
	width: 165px;
	box-shadow: 4px 5px 15px #F28066;
	transform: rotate(360deg);
}
.autor a:hover{	
	color: #265573;
	transform: rotate(360deg);
}
/*Fim do sobre os autores*/
/*Fim do Index.html*/
/*Do ínicio de Java Script*/
.banner-js{
	width: 100%;
	min-height: 600px;
	padding: 50px 0 250px 0;
	background: url(banner-js.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}
.banner-js h1{
	color: #f5f5f5;
	top: 300px;
	position: relative;
	text-align: center;
	font-weight: normal;
	font-size: 100px;
	font-style: italic;
	box-shadow: 10px 5px 5px #D99C79;
}
/*Fim do Banner*/
.conteudo{background-color: #fdfdfd; padding: 15px 15px 0 15px;}
.conteudo > .container{border-bottom: 3px solid #D99C79; padding-bottom: 15px; border-radius: 0 0 15px 15px;}
.conteudo h1{
	top: 255px;
	position: relative;
	font-size: 50px;
	text-shadow: 5px 5px 5px #D9A9D1;
	color: #181D26;
	font-weight: normal;
}
.conteudo h2{
	text-align: center;
	margin-bottom: 10px;
	padding-top: 5px;
	font-weight: normal;
	text-shadow: 5px 2px 5px #726273;
	color: #181D26;
}
.conteudo li{
	list-style-type: none;
	line-height: 3.5em;
	padding-left: 65px;
}
.conteudo a{
	text-decoration: none;
	color: #181D26;
	font-size: 20px;
}
.conteudo button{
	background-color: #f5f5f5;
	border-radius: 15px;
	border: 2px inset #3D4F73;
	padding: 5px;
	width: 150px;
	transition-duration: 1.5s;
	transition-delay: 0.3s;
	align-content: center;
}
.conteudo button:hover{
	width: 165px;
	box-shadow: 4px 5px 15px #D99C9C;
}
.conteudo a:hover{	
	color: #A66FA2;
	transition-duration: 2s;
	transition-delay: 0.6s;
}
/*Fim do Conteudo*/
/*Fim do JavaScript.html*/
/*Do ínicio de Química*/
.banner-qm{
	width: 100%;
	min-height: 600px;
	padding: 50px 0 250px 0;
	background: url(banner-qm.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}
.banner-qm h1{
	color: #f5f5f5;
	top: 300px;
	position: relative;
	text-align: center;
	font-weight: normal;
	font-size: 100px;
	font-style: italic;
	box-shadow: 10px 5px 5px #36C8D9;
}
.banner-qm h5{
	color: #f5f5f5;
	top: 310px;
	position: relative;
	text-align: center;
	font-weight: normal;
	font-size: 40px;
	font-style: italic;
	text-align: right;
}
/*Fim do Banner*/
.conteudo-qm{background-color: #fdfdfd; padding: 15px 15px 0 15px;}
.conteudo-qm > .container{border-bottom: 3px solid #36C8D9; padding-bottom: 15px; border-radius: 0 0 15px 15px;}
.conteudo-qm h1{
	top: 255px;
	position: relative;
	font-size: 50px;
	text-shadow: 5px 5px 5px #BABF95;
	color: #193540;
	font-weight: normal;
}
.conteudo-qm h2{
	text-align: center;
	margin-bottom: 10px;
	padding-top: 5px;
	font-weight: normal;
	text-shadow: 5px 2px 5px #176FA6;
	color: #193540;
}
.conteudo-qm li{
	list-style-type: none;
	line-height: 3.5em;
	padding-left: 65px;
}
.conteudo-qm a{
	text-decoration: none;
	color: #193540;
	font-size: 20px;
}
.conteudo-qm button{
	background-color: #f5f5f5;
	border-radius: 15px;
	border: 2px inset #176FA6;
	padding: 5px;
	width: 150px;
	transition-duration: 1.5s;
	transition-delay: 0.3s;
	align-content: center;
}
.conteudo-qm button:hover{
	width: 165px;
	box-shadow: 4px 5px 15px #36C8D9;
}
.conteudo-qm a:hover{	
	transition-duration: 2s;
	transition-delay: 0.6s;
}
/*Fim do Conteudo*/
/*Fim do Quimica.html*/
/*Telas*/
@media screen and (max-width: 760px){
	.w50, .w33{
		width: 100%;
	}
}