@import url("Inity.css");

nav.navInicial {
  background-color: var(--Branco);
  padding: 5px 10px 0 15px;
}
nav.navInicial > div.imagenLogo > img {
  width: 8vh;
  height: auto;
}


nav.navInicial > div.listaNav > ul{
  display: inline-flex;
}
nav.navInicial > div.listaNav > ul > li{
  padding: 0 10px;
}
nav.navInicial > div.listaNav > ul > li > a{
  color: var(--Preto);
  font-size: 1.15rem;
  font-weight: 500;
}
nav.navInicial > div.listaNav > ul > li > a:hover{
  border-bottom: 2px solid salmon;
}

section.banner{
  background-image: url(../Images/Banner/home.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 90.8vh;
  position: relative;
  width: 100%;
}
section.banner > h1{
  font-size: 2rem;
  color: var(--Branco);
}

section.info{
  margin: 1% 10% 1% 10%;
}
section.info div > h2{
  text-align: center;
}
section.info div > div{
  text-align: justify;
}
section.info div > div:first-child{
  margin-right: 1%;
}
section.info div > div:last-child{
  margin-left: 1%;
}
section.info hr{
  width: 45%;
  display: inline-block;
  border-color: var(--AzulEscuro);
}
img.img-reference{
  max-width: 230px;
  height: auto;
}

/* Shape Divider */
.custom-shape-divider-top-1641583715 {
  position: absolute;
  top: 9vh;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 100;
}
.custom-shape-divider-top-1641583715 svg {
  position: absolute;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
  transform: rotateY(180deg);
  z-index: 100;
}
.custom-shape-divider-top-1641583715 .shape-fill {
  fill:  var(--Branco);
}