@import url("Inity.css");

nav.navInicial {
  background-color: var(--Branco);
  padding: 5px 10px 0 15px;
}
nav.navInicial > div.imagenLogo > img {
  width: 8vh;
  height: auto;
}


nav.navInicial > div.listaNav > ul{
  display: inline-flex;
}
nav.navInicial > div.listaNav > ul > li{
  padding: 0 10px;
}
nav.navInicial > div.listaNav > ul > li > a{
  color: var(--Preto);
  font-size: 1.3rem;
  font-weight: 500;
}

section.banner{
  background-image: url(../Images/Banner/home.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 90vh;
  position: absolute;
  width: 100%;
  top: 10vh;
}
section.banner > h1{
  font-size: 2rem;
  color: var(--Branco);
}

/* Shape Divider */
.custom-shape-divider-top-1641583715 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 100;
}
.custom-shape-divider-top-1641583715 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
  transform: rotateY(180deg);
  z-index: 100;
}
.custom-shape-divider-top-1641583715 .shape-fill {
  fill:  var(--Branco);
}