* {
  font-family: "Poppins", "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
:root {
  --corTextoPadrao: rgb(0, 0, 0);
}
html,
body{
  background-color: rgb(255, 240, 213);
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #7fffd4;
    min-height: 600px;
}
.Text-Star{
  position: absolute;
  z-index: 1;
  top: 21vh;
}
.Image-parallax{
  text-align: center;
}
/* Shape Divider */
.custom-shape-divider-top-1641583715 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1641583715 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
  transform: rotateY(180deg);
}
.custom-shape-divider-top-1641583715 .shape-fill {
  fill: #7FFFD4;
}

.rotate-center {
	-webkit-animation: rotate-center 3s linear infinite ;
	        animation: rotate-center 3s linear infinite ;
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}