button {
    background-color: #00FFFF;
    padding: 15px 50px;
    text-shadow: 1px 1px white;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 20px; 
    display: block;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
    background-color: #191970;
    text-shadow: 1px 1px black; 
    color: white;
}
body{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.retorno{
    background-color: #191970;
    padding: 15px 50px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.retorno:hover {
    background-color: #00FFFF;
    color: black;
}
h1{
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 20px;
}
input{
    width: 400px;
    height: 20px;
}
li{
    list-style: none;
}
.quadrados {
    height: 100vh;
    width: 100vw;
}
.green {
    width: 100px;
    height: 100px;
    margin: 1rem 1rem;
    display: inline-block;
}
table{
    text-align: center;
    margin: 0 auto;
}